.cards{
    height: 100%;
    overflow: scroll;
    padding: .8rem;
    padding-bottom: 5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    
    .card{
        flex-grow: 1;
        flex-basis: 16rem;
        max-width: 20rem;
        min-width: 17rem;
        background: linear-gradient( to top, #33333399,#dfdadab8);
        padding: .5rem .6rem;
        padding-bottom: 1rem;
        cursor: auto;
        border-radius: 1vw;
        color: rgb(230, 229, 229);
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 1.5vw;

        img{
            width: 100%;
            border-radius: .6vw;
        }

        h1{
            font-size: 1.5vw;
            font-weight: 500;
        }

        .description{
            opacity: .7;
            word-spacing: .3vw;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: .5vw;

            .tag{
                background-color: #515e4ca8;
                width: fit-content;
                padding: .5vw 1vw;
                border-radius: .4vw;
                white-space: nowrap;
            }
        }

        .urls{
            display: flex;
            gap: 1vw;
            a{
                color: whitesmoke;
                text-decoration: none;
                padding: .2vw 1vw;
                border-radius: 4px;
                background-color: rgba(79, 70, 66, 0.875);
                transition: all ease .3s;
            }

            a:hover{
                scale: 1.1;
            }
        }
    }
}