.cards{
    height: 100%;
    overflow: scroll;
    padding: .8rem;
    padding-bottom: 5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    
    .card{
        flex-grow: 1;
        flex-basis: 16rem;
        max-width: 20rem;
        max-width: 20rem;
        background-color: #4f4d4d;
        padding: .5rem .6rem;
        border-radius: .4rem;
        color: rgb(230, 229, 229);
        display: flex;
        flex-direction: column;
        gap: .9vw;

        img{
            width: 100%;
            border-radius: .6vw;
        }

        h1{
            font-size: 1.5vw;
            font-weight: 500;
        }

        .description{
            opacity: .7;
            word-spacing: .3vw;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: .5vw;

            .tag{
                background-color: #5c6659;
                width: fit-content;
                padding: .5vw 1vw;
                border-radius: .4vw;
                white-space: nowrap;
            }
        }

        .urls{
            display: flex;
            gap: 1vw;
            a{
                color: whitesmoke;
                text-decoration: none;
            }
        }
    }
}