.window {
    height: 100%;
    background: #000;
    border-radius: .6rem;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(198, 197, 197);

    .nav {
        padding: .4rem .4rem;
        display: flex;
        align-items: center;
        gap: 2vw;
        border-bottom: 1px solid #444;
        
        .dots {
            display: flex;
            gap: .2vw;

            .dot {
                height: calc(.5vw + .4rem);
                width: calc(.5vw + .4rem);
                background-color: whitesmoke;
                border-radius: 50%;
            }

            .red{
                background-color: rgb(224, 49, 49);
            }

            .yellow{
                background: rgb(249, 249, 78);
            }

            .green{
                background-color: rgb(0, 216, 0);
            }
        }
    }

    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: #717070;
        border-radius: 5px;
    }
}