nav{
    width: 100%;
    color: white;
    padding: .3rem .6rem;
    background-color: #66b98d53;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .75rem;

    .left,.right{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}