* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

main{
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1728949583730-d76eb0c95bc0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
